<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:cache="http://www.springframework.org/schema/cache"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache.xsd"
>
    
    <bean id="DAOComentario" class="dao.DAOComentario" />
    
    <bean id="DAOEscuela" class="dao.DAOEscuela" />
    
    <bean id="DAOProvincia" class="dao.DAOProvincia" />
    
    <bean id="DAONivel" class="dao.DAONivel" />
    
    <bean id="DAOOrientacion" class="dao.DAOOrientacion"/>
    
    <bean id="DAOPeticionAmistad" class="dao.DAOPeticionAmistad" />
    
    <bean id="DAOSector" class="dao.DAOSector" />
    
    <bean id="DAOUsuario" class="dao.DAOUsuario" />
    
    <bean id="DAOVia" class="dao.DAOVia" />
    
    <bean id="RedSocial" class="bean.RedSocial">
        <property name="daoComentario" ref="DAOComentario" />
        <property name="daoEscuela" ref="DAOEscuela" />
        <property name="daoProvincia" ref="DAOProvincia" />
        <property name="daoNivel" ref="DAONivel" />
        <property name="daoOrientacion" ref="DAOOrientacion"/>
        <property name="daoPeticionAmistad" ref="DAOPeticionAmistad" />
        <property name="daoSector" ref="DAOSector" />
        <property name="daoUsuario" ref="DAOUsuario" />
        <property name="daoVia" ref="DAOVia" />
        <property name="usernameConectado" value="dmg00024" />
    </bean>  
    
    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/redsocialcolaborativa" />
        <property name="username" value="dmg00024" />
        <property name="password" value="vNspLa5H" />   
    </bean>
    
    <bean id="jpaAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="database" value="MYSQL" />
        <property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect" />
        <!-- Sólo en fase de desarrollo -->
        <property name="showSql" value="false" />
        <property name="generateDdl" value="true" />
    </bean>
    
    <bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="packagesToScan" value="modelo" />
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter" ref="jpaAdapter" />
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="emf" />
    </bean>
   
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
    
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    
    <tx:annotation-driven transaction-manager="transactionManager" />
    

                
</beans>