<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security 
            http://www.springframework.org/schema/security/spring-security.xsd">
    
    
     <http auto-config="true" >
        <intercept-url pattern="/prueba" access="permitAll" />
        <intercept-url pattern="/prueba2" access="hasRole('USER')" />
        <form-login  authentication-failure-url="/prueba" />
    </http>
  
    <authentication-manager >
        <authentication-provider>
            <user-service>
                <user name="dmg00024"  password="123456"  authorities="ROLE_USER" />
                <user name="daniel" password="123456" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
       

</b:beans>

